<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/debug-layout.css">
  <link rel="stylesheet" href="/public/css/review-layout.css">
  <link rel="stylesheet" href="/public/css/review-overrides.css">
</head>
